@import "../../style/index.less";
.jin-button{
    display: inline-flex;
    justify-content: center;
    line-height: 1;
    height: 32px;
    // 不进行换行
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    outline:none;
    transition:.1s;
    user-select: none;
    vertical-align: middle;
    padding: 8px 15px;

}